/* Resume .btn */

.btn {
  padding: 15px 40px;
  border: none;
  background: none;
  font-size: 20px;
  position: relative;
  transition: 500ms;
}

.btn span {
  color: white;
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* font-weight: 600; */
}
/* .btn:hover{
  letter-spacing: 3px;
} */

/* .btn span:hover{
  transition: 100ms;
  transition-delay:  100ms;
  letter-spacing: 10px !important; 
} */

.btn:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
}

.btn div {
  transition: 500ms;
  position: absolute;
  background-color: white;
}

.btn .top {
  width: 30px;
  height: 2px;
  top: 0;
  left: 0;
}

.btn .bottom {
  width: 30px;
  height: 2px;
  bottom: 0;
  right: 0;
}

.btn .left {
  width: 2px;
  height: 30px;
  top: 0;
  left: 0;
}

.btn .right {
  width: 2px;
  height: 30px;
  bottom: 0;
  right: 0;
}

.btn:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn:hover .top,
.btn:hover .bottom {
  width: 100%;
}

.btn:hover .left,
.btn:hover .right {
  height: 100%;
}

/* Send .btn */

.btn1,
.btn2 {
  width: 120px;
  font-family: inherit;
  font-size: 16px;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.btn1 span,
.btn2 span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn1 svg,
.btn2 svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn2 .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn2 svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btn2 span {
  transform: translateX(5em);
}

.btn2:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
